/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 420px;
  height: 700px;
}

.addList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputAdd{
  width: 100%;
  display: flex;
  justify-content: center;
}

.createButton{
  width: 10%;
  height: 37px;
  border-right: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #864CFF;
  color: white;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
}

.addList > img{
  width: 70px;
  margin-bottom: 10px;
}

.title{
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  margin-bottom: 30px;
}

.add{
  width: 90%;
  height: 37px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid gray;
  padding-left: 15px;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
  border-right: none;
}

.add:focus{
  outline: none;
}

.nameList{
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: 300;
  color: #864CFF;
}

.nameList::placeholder{
  opacity: 0.6;
}

/*LIST*/

#list{
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
}

#inputsList{
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0px 15px 0px  15px;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 15px;
  font-weight: 300;
  border: none;
  background-color: #864CFF;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#inputsList > div{
  font-size: 15px;
  padding: 7px 0px 7px 0px;
}

.trash{
  cursor: pointer;
}